/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
  }
  
  header {
    background-color:cornflowerblue;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Estilos para el contenido principal */
  .contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  /* Estilos para el botón */
  .boton {
    background-color: green;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .boton:hover {
    background-color: green;
  }
  
  /* Estilos para la imagen */
  .imagen {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #ccc;
    transition: box-shadow 0.3s ease;
  }
  
  .imagen:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Estilos para el texto */
  .texto {
    font-size: 20px;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .texto:hover {
    color: #007bff;
  }